// _SETTINGS SCSS STYLESHEET --> GLOBAL SCSS VARIABLES

// Color Variables
$off-black: #01161e;
$off-white: #fafaff;
$dark-blue-green: #124559;
$off-blue-green: #598392;
$light-green: #aec3b0;

// // Spacing / Sizing Variables
// $s-size: 1.2rem;
// $m-size: 1.6rem;
// $l-size: 3.2rem;
// $xl-size: 4.8rem;

// // Media Query Spacing / Sizing Variable
// $desktop-breakpoint: 45rem;
